:root {
  --primary-color: #1798ab;
  --green-button-color: rgba(90, 171, 23, 0.5);
  --blue-button-color: rgba(23, 161, 171, 0.5);
  --navbar-height: 44px;
  --menu-height: 133px;
  --noto: "Noto Sans", sans-serif;
  --urban: "Urbanist", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
